.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: white;
}

.posts {
  background-color: slategrey;
  padding: 7.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main{
  background-color: slategray;
  height: 100%;
}

.box {
  margin: 7.5px;
  border: 1px black solid;
  background-color: white;
  width: 734px;
  padding: 8px;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7.5px;
  border: 1px black solid;
  background-color: white;
  width: 740px;
  gap: 10px;
  padding: 5px;
}

.create {
  width: 90%;
  height: 30px;
  border: solid 1px lightgray;
  text-align: left;
  padding-left: 15px;
  border-radius: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.create:hover {
  border: solid 1px royalblue;
  background-color: white;
}

.title {
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 10px;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: slategray;
  color: white;
  font-size:x-large;
  font-weight: bold;
  padding-top: 20px;
  margin-top: 200px;
  margin-bottom: 70px;

  padding-bottom: 20px;
  margin-right: 600px;
  margin-left: 500px;
}

.body {
  font-size: 14px;
}

.comments {
  display: flex;
  gap: 5px;
  padding-top: 10px;
}

.first {
  display: flex;
  justify-content: space-between;
}

.date {
  font-size: 12px;
}

.buttons {
  display: flex; 
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 30px;
  width: 78%;

}

.comment {
  font-size: 15px;
}

.cancelButton{
  border: 1px black solid;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: slategray;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin: 10px;

}

.button {
  border: 1px black solid;
  width: 35px;
  height: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}



.deleteButton{
  border: 1px black solid;
  width: 70px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: red;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin: 10px;

}


.editButton{
  border: 1px black solid;
  width: 60px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: darkgoldenrod;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin: 10px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 10px;
  align-items: center;
}

.titleInput {
  width: 100%;
  border-radius: 2px;
  margin-top: 20px;
}

.bodyInput {
  height: 100px;
  width: 100%;
  border-radius: 2px;
}

.bodyInputFullLen {
  height: 100px;
  width: 70%;
  border-radius: 2px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 10px;
}

.body {
  font-size: 14px;
}

.comments {
  display: flex;
  gap: 5px;
  padding-top: 10px;
}

.first {
  display: flex;
  justify-content: space-between;
}

.date {
  font-size: 12px;
}

.comment {
  font-size: 15px;
}

.button {
  border: 1px black solid;
  width: 35px;
  height: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 10px;
  align-items: center;
}

.titleInput {
  width: 100%;
  border-radius: 2px;
  margin-top: 20px;
}

.bodyInput {
  height: 100px;
  width: 100%;
  border-radius: 2px;
}

.submitButton {
  width: 10%;
  align-self: flex-end;
  height: 30px;
  border-radius: 25px;
  margin-bottom: 20px;
}


.inputFullLen {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 10px;
  align-items: center;
  margin-left: 40px;
}



