.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: white;
}

.posts {
  background-color: slategrey;
  padding: 7.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  margin: 7.5px;
  border: 1px black solid;
  background-color: white;
  width: 734px;
  padding: 8px;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7.5px;
  border: 1px black solid;
  background-color: white;
  width: 740px;
  gap: 10px;
  padding: 5px;
}

.create {
  width: 90%;
  height: 30px;
  border: solid 1px lightgray;
  text-align: left;
  padding-left: 15px;
  border-radius: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.create:hover {
  border: solid 1px royalblue;
  background-color: white;
}

.title {
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 10px;
}

.body {
  font-size: 14px;
}

.comments {
  display: flex;
  gap: 5px;
  padding-top: 10px;
}

.first {
  display: flex;
  justify-content: space-between;
}

.date {
  font-size: 12px;
}

.comment {
  font-size: 15px;
}

.button {
  border: 1px black solid;
  width: 35px;
  height: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
